  <%- if @custom_spell.user == current_user %>
  <div class="small-8 small-centered columns">
    <h1><%= @custom_spell.name %></h1>
    <%= simple_form_for [current_user, @custom_spell] do |f| %>
      <%= f.input :name %>
      <div class="row">
        <div class="small-6 columns">
          <%= f.input :school %>
        </div>
        <div class="small-6 columns">
          <%= f.input :level %>
        </div>
      </div>
      <div class="row">
        <div class="small-6 columns">
          <%= f.input :casting_time %>
        </div>
        <div class="small-6 columns">
          <%= f.input :components %>
        </div>
      </div>
      <div class="row">
        <div class="small-6 columns">
          <%= f.input :area %>
        </div>
        <div class="small-6 columns">
          <%= f.input :range %>
        </div>
      </div>
      <div class="row">
        <div class="small-6 columns">
          <%= f.input :target %>
        </div>
        <div class="small-6 columns">
          <%= f.input :duration %>
        </div>
      </div>
      <div class="row">
        <div class="small-6 columns">
          <%= f.input :saving_throw %>
        </div>
        <div class="small-6 columns">
          <%= f.input :spell_resistance %>
        </div>
      </div>
      <%= f.input :description %>
      <%= f.button :submit %>
    <% end %>
  </div>
<%- end -%>
</div>
