
<h1>Spells Known (<%= @spells.count %>)</h1>

<dl class="tabs" data-tab>
  <% @spells_by_level.keys.each do |key| %>
    <dd><%= link_to "Level #{key}", "#level-#{key}" %></dd>
  <% end %>
</dl>
<div class="tabs-content">
  <% @spells_by_level.keys.each do |key| %>
    <div class="content" id="level-<%= key %>">
      <ol>
        <% @spells_by_level[key].each do |spell| %>
          <li>
            <%= link_to spell.name, spell.url %> <%= link_to(spell_path(spell)) do %><i class="fi-pencil"></i><% end %>
          </li>
        <% end %>
      </ol>
    </div>
  <% end %>
</div>

<h2>Learn New Spell</h2>
<%= simple_form_for(@spell) do |f| %>
  <%= f.input :name %>
  <%= f.input :url %>
  <%= f.input :level %>
  <%= f.button :submit, 'Learn' %>
<% end %>
