<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Findpather</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <% if user_signed_in? %>
            <h1><%= link_to current_user.firstname, root_path %></h1>
          <% else %>
            <h1><%= link_to 'Findpather', root_path %></h1>
          <% end %>
        </li>
        <li class="toggle-topbar menu-icon">
          <a href=>Menu</a>
        </li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="divider"></li>
          <li>
            <% if user_signed_in? %>
              <%= link_to 'Sign out', '/logout' %>
            <% end %>
          </li>
        </ul>
        <ul class="left">
          <li class="divider"></li>
          <%- if user_signed_in? -%>
            <li><%= link_to 'My Spells', user_spells_path(current_user) %></li>
          <%- end -%>
          <li class="divider"></li>
        </ul>
      </section>
    </nav>
    <div class="row">
      <% flash.each do |name, msg| %>
        <% if msg.is_a?(String) %>
          <div data-alert class="alert-box <%=
            if name == :success
              "success"
            elsif name == :alert
              "alert"
            else
               "info"
            end %>">
            <%= content_tag :div, msg %>
            <a href="#" class="close">&times;</a>
          </div>
        <% end %>
      <% end %>
      <%= yield %>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
